# Airline Project

In [2]:
import numpy  as np
import pandas as pd

In [7]:
data = {
  "Flight_ID":[f"FL{str(i).zfill(4)}" for i in range(1,101)],
  "Airline": np.random.choice(["Airline A","Airline B","Airline C","Airline D"],size=100),
  "Departure_Airport": np.random.choice(["JFK","LAX","ORD","ATL","DFW"],size=100),
  "Arrival_Airport": np.random.choice(["SFO","SEA","MIA","BOS","DEN"],size=100),
  "Departure_Time":pd.date_range("2025-01-01 08:00:00",periods=100,freq="h"),
  "Arrival":pd.date_range("2025-01-01 12:00:00",periods=100,freq="h"),
  "Delay":np.random.randint(-30,180,size=100)
}

In [8]:
df = pd.DataFrame(data)

In [9]:
df

,Flight_ID,Airline,Departure_Airport,Arrival_Airport,Departure_Time,Arrival,Delay
0,FL0001,Airline C,ORD,MIA,2025-01-01 08:00:00,2025-01-01 12:00:00,157
1,FL0002,Airline B,JFK,MIA,2025-01-01 09:00:00,2025-01-01 13:00:00,160
2,FL0003,Airline A,DFW,BOS,2025-01-01 10:00:00,2025-01-01 14:00:00,124
3,FL0004,Airline C,DFW,SEA,2025-01-01 11:00:00,2025-01-01 15:00:00,49
4,FL0005,Airline C,ORD,SEA,2025-01-01 12:00:00,2025-01-01 16:00:00,148
...,...,...,...,...,...,...,...
95,FL0096,Airline C,ATL,MIA,2025-01-05 07:00:00,2025-01-05 11:00:00,110
96,FL0097,Airline A,ATL,DEN,2025-01-05 08:00:00,2025-01-05 12:00:00,85
97,FL0098,Airline D,JFK,SEA,2025-01-05 09:00:00,2025-01-05 13:00:00,80
98,FL0099,Airline C,LAX,MIA,2025-01-05 10:00:00,2025-01-05 14:00:00,-24
99,FL0100,Airline B,ORD,DEN,2025-01-05 11:00:00,2025-01-05 15:00:00,47

In [10]:
df.isnull().sum()

Flight_ID            0
Airline              0
Departure_Airport    0
Arrival_Airport      0
Departure_Time       0
Arrival              0
Delay                0
dtype: int64

In [16]:
df["Delay"] = df["Delay"].apply(lambda x: max(0,x))
average_delay_airline = df.groupby("Airline")["Delay"].mean()
print("Average Delay by Airline")
print(average_delay_airline)

Average Delay by Airline
Airline
Airline A    77.555556
Airline B    72.720000
Airline C    81.413793
Airline D    75.105263
Name: Delay, dtype: float64

In [17]:
average_delay_airport = df.groupby("Departure_Airport")["Delay"].mean()
print("\nAverage Delay by Departure Airport")
print(average_delay_airport)

Average Delay by Departure Airport
Departure_Airport
ATL    93.300000
DFW    55.384615
JFK    58.956522
LAX    90.642857
ORD    76.250000
Name: Delay, dtype: float64