### Write A Program for Checking Pallindrome or not

In [ ]:
text = input("Enter the Number")
reversed_text=""
for i in text:
    reversed_text=i+reversed_text
if(text==reversed_text):
    print("Pallindrome")
else:
    print("Not a pallindrome")

Not

### List

In [6]:
s1 = ["one","two","Three","four"]
s1

['one', 'two', 'Three', 'four']

In [7]:
s1.remove("Three")

In [8]:
 
s1.append("five")
print(s1)

['one', 'two', 'four', 'five']

In [16]:
s1.extend("three")
s1

['one',
 'two',
 'four',
 'five',
 't',
 'h',
 'r',
 'e',
 'e',
 't',
 'h',
 'r',
 'e',
 'e',
 't',
 'h',
 'r',
 'e',
 'e',
 't',
 'h',
 'r',
 'e',
 'e',
 't',
 'h',
 'r',
 'e',
 'e',
 't',
 'h',
 'r',
 'e',
 'e',
 't',
 'h',
 'r',
 'e',
 'e']

In [17]:
s1.insert(0,"zero")
s1

['zero',
 'one',
 'two',
 'four',
 'five',
 't',
 'h',
 'r',
 'e',
 'e',
 't',
 'h',
 'r',
 'e',
 'e',
 't',
 'h',
 'r',
 'e',
 'e',
 't',
 'h',
 'r',
 'e',
 'e',
 't',
 'h',
 'r',
 'e',
 'e',
 't',
 'h',
 'r',
 'e',
 'e',
 't',
 'h',
 'r',
 'e',
 'e']

In [18]:
s1.remove("three")
s1

ValueError: list.remove(x): x not in list

### Dictionary

In [25]:
my_dict = {"name":"Amaan",1:["age","address"]}
print(my_dict)

{'name': 'Amaan', 1: ['age', 'address']}

In [20]:
my_dictionary = {1:"xyz",2:"abc"}
print(my_dictionary)

{1: 'xyz', 2: 'abc'}

In [23]:
print(my_dictionary[1])

xyz

In [26]:
print(my_dict[1])

['age', 'address']

### Tuples

In [27]:
t=(1,2,3)
t

(1, 2, 3)

In [29]:
t=(1,"abc",2,"xyz")
t

(1, 'abc', 2, 'xyz')

In [30]:
t2 = (1,2,2,("abc","xyz",1),(1,2,3,3))
t2

(1, 2, 2, ('abc', 'xyz', 1), (1, 2, 3, 3))