# Airline Project

In [14]:
import numpy  as np
import pandas as pd

In [15]:
data = {
  "Flight_ID":[f"FL{str(i).zfill(4)}" for i in range(1,101)],
  "Airline": np.random.choice(["Airline A","Airline B","Airline C","Airline D"],size=100),
  "Departure_Airport": np.random.choice(["JFK","LAX","ORD","ATL","DFW"],size=100),
  "Arrival_Airport": np.random.choice(["SFO","SEA","MIA","BOS","DEN"],size=100),
  "Departure_Time":pd.date_range("2025-01-01 08:00:00",periods=100,freq="h"),
  "Arrival":pd.date_range("2025-01-01 12:00:00",periods=100,freq="h"),
  "Delay":np.random.randint(-30,180,size=100)
}

In [22]:
df = pd.DataFrame(data)

In [17]:
df

,Flight_ID,Airline,Departure_Airport,Arrival_Airport,Departure_Time,Arrival,Delay
0,FL0001,Airline D,JFK,BOS,2025-01-01 08:00:00,2025-01-01 12:00:00,86
1,FL0002,Airline B,JFK,SEA,2025-01-01 09:00:00,2025-01-01 13:00:00,107
2,FL0003,Airline B,DFW,SFO,2025-01-01 10:00:00,2025-01-01 14:00:00,120
3,FL0004,Airline D,DFW,SFO,2025-01-01 11:00:00,2025-01-01 15:00:00,-4
4,FL0005,Airline D,LAX,DEN,2025-01-01 12:00:00,2025-01-01 16:00:00,97
...,...,...,...,...,...,...,...
95,FL0096,Airline B,ATL,DEN,2025-01-05 07:00:00,2025-01-05 11:00:00,78
96,FL0097,Airline B,JFK,SEA,2025-01-05 08:00:00,2025-01-05 12:00:00,31
97,FL0098,Airline A,ATL,SEA,2025-01-05 09:00:00,2025-01-05 13:00:00,160
98,FL0099,Airline A,JFK,SEA,2025-01-05 10:00:00,2025-01-05 14:00:00,21
99,FL0100,Airline C,LAX,SEA,2025-01-05 11:00:00,2025-01-05 15:00:00,86

In [18]:
df.isnull().sum()

Flight_ID            0
Airline              0
Departure_Airport    0
Arrival_Airport      0
Departure_Time       0
Arrival              0
Delay                0
dtype: int64

In [19]:
df["Delay"] = df["Delay"].apply(lambda x: max(0,x))
average_delay_airline = df.groupby("Airline")["Delay"].mean()
print("Average Delay by Airline")
print(average_delay_airline)

Average Delay by Airline
Airline
Airline A    75.842105
Airline B    67.121212
Airline C    75.925926
Airline D    83.571429
Name: Delay, dtype: float64

In [23]:
average_delay_airport = df.groupby("Departure_Airport")["Delay"].mean()
print("\nAverage Delay by Departure Airport")
print(average_delay_airport)

Average Delay by Departure Airport
Departure_Airport
ATL    86.050000
DFW    58.916667
JFK    68.739130
LAX    63.700000
ORD    83.521739
Name: Delay, dtype: float64

In [26]:
print(average_delay_airport)
least_delay_airline = average_delay_airline.idxmin()
most_delay_airline = average_delay_airline.idxmax()
print(f"\nAirline with Least Delay:{least_delay_airline}({average_delay_airline[least_delay_airline]:.2f}) mins")

print(f"\nAirline with Most Delay:{most_delay_airline}({average_delay_airline[most_delay_airline]:.2f}) mins")
mean_delay = np.mean(df["Delay"])
print(f"\nMean Delay is {mean_delay}")

Departure_Airport
ATL    86.050000
DFW    58.916667
JFK    68.739130
LAX    63.700000
ORD    83.521739
Name: Delay, dtype: float64

Airline with Least Delay:Airline B(67.12) mins

Airline with Most Delay:Airline D(83.57) mins
Mean Delay is 72.74

In [27]:
median_display = np.median(df["Delay"])

standard_deviation_delay = np.std(df["Delay"])

percentile_90 = np.percentile(df["Delay"],90)

In [30]:
print("\nDelay Statistics")

print(f"Mean Delay: {mean_delay:.2f} mins")

print(f"Median Delay: {median_display:.2f} mins")

print(f"Standard Deviation: {standard_deviation_delay:.2f} mins")

print(f"90th Percentile: {percentile_90:.2f} mins")

Delay Statistics
Mean Delay: 72.74 mins
Median Delay: 72.00 mins
Standard Deviation: 59.71 mins
90th Percentile: 155.20 mins